---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { ArrowRight } from "@lucide/astro";
import { Button } from "../ui/button";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="cta"
  class="px-4 pt-20 pb-60 bg-gradient-to-r from-purple-600/5 to-purple-700/5 backdrop-blur-sm relative"
>
  <div class="container mx-auto max-w-2xl text-center">
    <div class="space-y-6">
      <h2 class="text-3xl md:text-4xl font-bold">
        {t("cta.title")}
      </h2>
      <p class="text-xl text-muted-foreground max-w-xl mx-auto">
        {t("cta.subtitle")}
      </p>

      <div
        class="flex flex-col sm:flex-row gap-4 justify-center items-center pt-8"
      >
        <a href="https://app.rpcide.cloud" target="_blank">
          <Button
            className="bg-purple-600 hover:bg-purple-700 text-white px-8 py-3 shadow-lg shadow-purple-500/25 hover:shadow-purple-500/40 transition-all duration-300"
          >
            <ArrowRight class="w-5 h-5" />
            {t("cta.button")}
          </Button>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  section#cta {
    background: radial-gradient(
      125% 125% at 50% 10%,
      var(--color-background) 40%,
      #2b092b 100%
    );
  }
</style>
