---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Circle, Play, Sparkles, Trophy, Users } from "@lucide/astro";
import AnimatedBackground from "../AnimatedBackground";
import { Button } from "../ui/button";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="hero">
  <div class="relative top-[-150px] pt-20 inset-0 w-full h-[calc(100vh+100px)]">
    <AnimatedBackground />

    <div class="relative z-10 container mx-auto max-w-6xl px-4">
      <section
        class="flex flex-col items-center justify-center text-center space-y-10 h-full min-h-[calc(100vh-4rem)]"
      >
        <div
          class="bg-primary/10 border-primary text-purple-400 px-4 rounded-full text-xs font-bold flex items-center space-x-2"
        >
          <Sparkles width={16} />
          <span>{t("hero.slogan")}</span>
        </div>

        <h1 class="text-5xl font-bold">{t("hero.title")}</h1>
        <p class="text-lg text-muted-foreground md:px-8">
          {t("hero.subtitle")}
        </p>

        <a href="https://app.rpcide.cloud" target="_blank" class="mt-4 mb-20">
          <Button
            className="flex items-center shadow-2xl shadow-purple-700 hover:shadow-none"
          >
            <Play />
            <span class="text-md">{t("hero.cta")}</span>
          </Button>
        </a>

        <div
          class="flex flex-col sm:flex-row items-center justify-center space-y-4 sm:space-y-0 sm:space-x-6 text-sm text-muted-foreground"
        >
          <span class="inline-flex items-center space-x-2">
            <Circle class="w-2 text-green-600 fill-green-600" />
            <span>{t("hero.live")}</span>
          </span>

          <span class="inline-flex items-center space-x-2">
            <Users class="w-4" />
            <span>+400 {t("hero.users")}</span>
          </span>

          <span class="inline-flex items-center space-x-2">
            <Trophy class="w-4" />
            <span>{t("hero.free")}</span>
          </span>
        </div>
      </section>
    </div>
  </div>
</div>
