---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title={`RPCIDE | 404`}
  description={"Page not found"}
  className="max-w-full !px-0 !mb-0"
>
  <div class="grid place-items-center py-16 text-center">
    <img
      src="https://media1.tenor.com/m/feBdQyCY0FMAAAAC/work.gif"
      alt="404 - Page Not Found"
      class="block w-full px-4 max-w-sm mx-auto"
    />
  </div>
</Layout>
