---
import config from "@/config";
import { LogIn } from "@lucide/astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { LanguageToggle } from "./LanguageToggle";
import { Button } from "./ui/button";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const appUrl = config.appUrl;
---

<header class="relative z-20 flex justify-between items-center p-4">
  <a href="/" class="flex items-center space-x-2">
    <img src="/logo.webp" alt="Logo RPCIDE" class="h-10 w-10" title="RPCIDE" />
  </a>

  <nav class="hidden md:block">
    <ul class="flex items-center space-x-4 text-sm text-muted-foreground">
      <li><a href="#features">{t("nav.features")}</a></li>
      <li><a href="#languages">{t("nav.languages")}</a></li>
      <li><a href="#community">{t("nav.community")}</a></li>
      <li>
        <a href={appUrl} target="_blank">
          <Button>{t("nav.login")}</Button>
        </a>
      </li>
      <li>
        <LanguageToggle lang={lang} client:load />
      </li>
    </ul>
  </nav>

  <nav class="md:hidden">
    <ul class="flex items-center space-x-2 text-sm text-muted-foreground">
      <li>
        <a href={appUrl} target="_blank">
          <Button>
            <LogIn />
            {t("nav.login")}
          </Button>
        </a>
      </li>
      <li>
        <LanguageToggle lang={lang} client:load />
      </li>
    </ul>
  </nav>
</header>
