---
import CTA from "@/components/sections/CTA.astro";
import Features from "@/components/sections/Features.astro";
import Hero from "@/components/sections/Hero.astro";
import Languages from "@/components/sections/Languages.astro";
import PreviewEditor from "@/components/sections/PreviewEditor.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "es" } },
    { params: { lang: "pt" } },
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title={`RPCIDE | ${t("title")}`}
  description={t("description")}
  className="max-w-full !px-0 !mb-0"
>
  <div>
    <Hero />
    <Features />
    <PreviewEditor />
    <Languages />
    <CTA />
  </div>
</Layout>
