---
import Features from "@/components/sections/Features.astro";
import Hero from "@/components/sections/Hero.astro";
import Languages from "@/components/sections/Languages.astro";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "es" } },
    { params: { lang: "pt" } },
  ];
}

const { lang } = Astro.params;
---

<Layout
  title="RPCIDE"
  description="RPCIDE is a platform for developers to create and share RPC interfaces."
  className="max-w-full !px-0"
>
  <div class="">
    <Hero />
    <Features />
    <Languages />
  </div>
</Layout>
